{% extends "tenantBase/base.html" %}
{% load static %}
{% block start %}

<div class="container mx-auto">
    <div class="row">
        <div class="col-md-4 mx-auto my-5 p-3 rounded bg-light shadow">
            <h4 class="text-center border-bottom border-warning border-4 w-100 pb-2 mb-3">Login Form</h4>

            <form action="" class="row" method="post">
                {% csrf_token %}
                <div class="col-12 mb-2">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="col-12 mb-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="col-12 mt-2 d-flex justify-content-end gap-2">
                    <a href="#" class="btn btn-primary btn-sm"> <i class="fa-solid fa-user-plus me-2"></i>  Register </a>
                    <button type="submit" class="btn btn-warning btn-sm"> <i class="fa-solid fa-right-to-bracket me-2"></i> Login </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}